<% locais.each_with_index do |local, i| %>
    <div class="col_1_of_3 span_1_of_3">
      <% if local.loja? %>
        <%= render "lojas/loja.html", local: local, loja: local.localizavel %>
      <% elsif local.pista? %>
        <%= render "pistas/pista.html", local: local, pista: local.localizavel %>
      <% elsif local.evento? %>
        <%= render "eventos/evento.html", local: local, evento: local.localizavel %>
      <% end %>
    </div>
<% end %>