<div class="map">
    <div id="map-canvas">
        <%= image_tag("map.jpg",alt:"Cablush Location") %>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            CablushShowMap.init($('#map-canvas')[0], <%= locais_to_json locais %>);
        });
    </script>
</div>