<%= render "locais/maps.html", locais: @loja.locais %>

<div class="main">
    <div class="wrap row">
        <div class="col_1_of_3 span_1_of_3">
            <%= render "loja.html", loja: @loja, local: @loja.locais[0] %>
        </div>
    </div>
    <div class="clear"></div>
</div>
