<%= render "locais/maps.html", locais: @pista.local %>

<div class="main">
    <div class="wrap row">
        <div class="col_1_of_3 span_1_of_3">
            <%= render "pista.html", loja: @pista, local: @pista.local %>
        </div>
    </div>
    <div class="clear"></div>
</div>
