<%= render "layouts/content_header" %>

<%= render "header", option: 'List' %>

<div class="main">
    <div class="wrap">
        <ul class="list1 mark_blue">
            <% @eventos.each do |evento| %>
              <li>
                  <%= link_to evento.nome, edit_cadastros_evento_path(evento) %>
              </li>
            <% end %>
        </ul>        
    </div>
    <div class="clear"></div>
</div>