<%= render "layouts/content_header" %>

<%= render "header", option: 'Edit' %>

<div class="main">
    <div class="wrap">
        <div class="wrap-content"> 
            <%= render "form" %>
        </div>
    </div>
    <div class="clear"></div>
</div>