<%=render "layouts/menucad" %>
 <div class="content-box">
 	<div class="wrap">
 		<ul class="events">
			<li class="active"><a href="#">Cadastro de Loja</a></li>
		</ul>
		<div class="clear"></div>
 	</div>
 </div>
 <div class="main">
 	<div class="wrap">
 	    <div style="float: left; padding-left: 30%; width: 40%;"> 
 	    <%= render "form" %>
        </div>
    </div>
	<div class="clear"></div>
</div>
<%=render "layouts/footer"%>