<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Cablush | 404 </title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link data-turbolinks-track="true" href="/assets/style.css?body=1" media="all" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>
<body>
<%=render 'layouts/menu'%>
  <div class="main">
     <div class="wrap">
      	 <div class="page-not-found">
			<h1>500</h1>
		  </div>
	  </div>
   </div>
   <%=render 'layouts/footer'%>
</body>
</html>
