<% locais.each_with_index do |local, i| %>
  <% if i % 3 == 0 %>
    <div class="section group">
  <% end %>

    <div class="col_1_of_3 span_1_of_3">
      <% if local.loja? %>
        <%= render "local_loja.html", local: local %>
      <% elsif local.pista? %>
        <%= render "local_pista.html", local: local %>
      <% elsif local.evento? %>
        <%= render "local_evento.html", local: local %>
      <% end %>
    </div>

  <% if (i+1) % 3 == 0 %> 
    </div>
  <% end %>

  <% if locais.length == (i+1) %>
    <div class="clear"></div>
  <% end %>
  
<% end %>

<script type="text/javascript">
    locations = <%= raw locais.to_json(
                  :except => [:id, :created_at, :updated_at, :localizavel_id], 
                  :include => {:localizavel => { 
                      :except => [:id, :created_at, :updated_at, :responsavel_id], 
                  }}
                ) %>;
</script>