<div class="map">
    <div id="map-canvas">
        <%= image_tag("map.jpg") %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=<%= Rails.application.secrets.js_api_key %>&callback=initMap" async defer></script>
</div>
