<div class="map">
    <div id="map-canvas">
        <%= image_tag("map.jpg") %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDf2xE7rx47Ug-jAR2TgAycilb9Nmj6SyE&callback=initMap" async defer></script>
</div>
