<div class="main">
    <div class="flex-wrap">
        <div class="content-box">
            <p><%= t 'views.about.description' %></p>
        </div>
        <div class="content-box txt-rt">
            <%=image_tag("slide.jpg", height:'500px',width:"500px",alt:"Cablush Longboard Slide") %>
        </div>
    </div>
    <div class="clear"></div>
</div>



