<div class="main">
    <div class="wrap">
        <div class="content"> 
            Sobre!
        </div>
        <div class="timeline"> 
            <%=image_tag("slide.jpg", height:'500px',width:"500px") %>
        </div>
    </div>
    <div class="clear"></div>
</div>



