<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>Cablush | :: Home :: </title>
</head>
<body>

<%=render "layouts/menu" %>

 <div class="map">
 	<%=image_tag("map.jpg")  %>
 	<!-- <div id="map-canvas">
 		
 	</div> -->
 </div>
 <div class="content-box">
 	<div class="wrap">
 		<ul class="events">
			<li class="active"><a href="index.html">A Cablush</a></li>
			
		</ul>
		<div class="content-box-right" style="width:52%">
			<ul class="events">
			<li class="active" ><a href="index.html">Na Web</a></li> 
			</ul>
	</div>
 	   <div class="clear"></div>
 	</div>
 </div>
 <div class="main">
 	<div class="wrap">
	<div class="section group">
				<div class="cont span_2_of_blog">
				      <div class="blog-left">
							<div class="item_published">
								<span>12</span><br>
								Apr
							</div>	
							<div class="item_head">
								<h5 class="item_title"> <a href="single.html"> Lorem ipsum dolor sit amet, consectetuer</a>
								</h5>
							</div>
							<div class="info">
								<dl class="info_dl">
								 	<dd>
										<div class="item-head">
										Posted by <a href="#">Super User</a></div>
									</dd>
									<dd class="comment1">
									   <span class="comment-left">
										  <a href="#">Comments (8)</a>
									   </span>
									</dd>
									<div class="clear"></div>
								</dl>
							</div>
							<a href="single.html"><img src="web/images/b1.jpg"></a>
					        <p class="f-text1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
							<a href="single.html" class="link">Read More</a>
						</div>
						<div class="blog-left">
							<div class="item_published">
								<span>12</span><br>
								Apr
							</div>	
							<div class="item_head">
								<h5 class="item_title"> <a href="single.html"> Lorem ipsum dolor sit amet, consectetuer</a>
								</h5>
							</div>
							<div class="info">
								<dl class="info_dl">
								 	<dd>
										<div class="item-head">
										Posted by <a href="#">Super User</a></div>
									</dd>
									<dd class="comment1">
									   <span class="comment-left">
										  <a href="#">Comments (8)</a>
									   </span>
									</dd>
									<div class="clear"></div>
								</dl>
							</div>
							<a href="single.html"><img src="web/images/b2.jpg"></a>
					        <p class="f-text1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
							<a href="single.html" class="link">Read More</a>
						</div>
						<div class="blog-left1">
							<div class="item_published">
								<span>12</span><br>
								Apr
							</div>	
							<div class="item_head">
								<h5 class="item_title"> <a href="single.html"> Lorem ipsum dolor sit amet, consectetuer</a>
								</h5>
							</div>
							<div class="info">
								<dl class="info_dl">
								 	<dd>
										<div class="item-head">
										Posted by <a href="#">Super User</a></div>
									</dd>
									<dd class="comment1">
									   <span class="comment-left">
										  <a href="#">Comments (8)</a>
									   </span>
									</dd>
									<div class="clear"></div>
								</dl>
							</div>
							<a href="single.html"><img src="web/images/b3.jpg"></a>
					        <p class="f-text1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
							<a href="single.html" class="link">Read More</a>
						</div>
				</div>
				<div class="bsidebar span_1_of_blog">
					<h2 class="head4">Search</h2>
					<div class="search">
						<form>
							<input type="text" value="Search...." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
							<input type="submit" value="">
						</form>
					</div>
					<h2 class="head4">Categories</h2>
			        <ul class="list1">
					    <li><a href="#">consectetuer adipiscing elit</a></li>
			            <li><a href="#">Duis autem vel eum iriure dolo</a></li>
			            <li><a href="#">soluta nobis eleifend option</a></li>
			            <li><a href="#">consectetuer adipiscing elit</a></li>
			            <li><a href="#">Duis autem vel eum iriure dolo</a></li>
			            <li><a href="#">soluta nobis eleifend option</a></li>
		            </ul>	
	       <div class="sap_tabs">	
			<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
			  <ul class="resp-tabs-list">
			  	  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Recent</span></li>
				  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Comments</span></li>
				  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Popular</span></li>
				  <div class="clear"></div>
			  </ul>				  	 
				<div class="resp-tabs-container">
				      <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
						<div class="facts">
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w2.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									     <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w3.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									     <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w4.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									     <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w5.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									     <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>			              
				        </div>
				     </div>	
				     <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
					 	<div class="facts">
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w6.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									     <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w7.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									     <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w8.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									    <a href="#" class="link">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w9.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									    <a href="#" class="link">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>			              
				        </div>
					</div>				        					 
				    <div class="tab-3 resp-tab-content" aria-labelledby="tab_item-2">
				     	<div class="facts">
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w10.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									    <a href="#" class="link">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w11.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									     <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w12.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									    <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>	
							<ul class="tab-left">
								<span class="tab-img"><img src="web/images/w13.jpg" alt=""/></span>
									<div class="tab-text">
										<p><a href="#">Lorem ipsum dolor sit amet nibh.</a></p>
										<div class="post-meta">
										   <img src="web/images/comment.png" alt=""><a href="#" class="comments"> 3 Comments</a>
										   <span class="author">Author: <a href="#">Lorem</a></span>
										 </div>
									    <a href="#" class="link1">Read More</a>
									</div>
								<div class="clear"></div>
							</ul>			              
				           </div>           	      
				        </div>	
				     </div>	
		        </div>
	        </div>
	        <h2 class="head4">Tags</h2>
	        <ul class="tags">
				<li><a href="#">Events</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Albums</a></li>
				<li><a href="#">Solo Artists</a></li>
				<li><a href="#">Audio Post</a></li>
				<li><a href="#">Musical</a></li>
				<li><a href="#">Live</a></li>
				<li><a href="#">Concert</a></li>
			    <li><a href="#">Movie</a></li>
			 </ul>
	     </div>
	   </div>
	   <div class="clear"></div>
	   </div>
<%=render "layouts/footer"%>
</body>
</html>