<%= render "locais/maps.html", locais: @locais %>

<div class="main">
  <div class="flex-wrap">
    <div class="content-head">
        <ul class="events">
            <li class="active"><a href="index.html">O Cablush</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="content-head order_3">
        <ul class="events">
            <li class="active" ><a href="index.html">Na Web</a></li> 
        </ul>
        <div class="clear"></div>
    </div>

    <div class="content-box">
        <div class="content"> 
            <p><%= t 'view.home.index..description1' =%></p> 
            <br/>
            <p>Tem uma loja do coração que vende materiais esportivos? Vai participar de algum evento? Sabe onde praticar seu esporte preferido onde quer que esteja?
            Nos conte e ajude outras pessoas a ficarem por dentro do universo esportivo.</p>
            <br/>
            <p>
                <a href="https://play.google.com/store/apps/details?id=com.cablush.cablushapp&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/pt-br-play-badge.png" width="150"/></a>
            <a href="https://geo.itunes.apple.com/ao/app/cablush/id1102506342?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
            </p>
            <p class="legal-trademark">Android, Google Play and the Google Play logo are trademarks of Google Inc.</p>
            <p class="legal-trademark">Apple and the Apple logo are trademarks of Apple Inc.</p>

        </div>
        <div class="clear"></div>
    </div>
    <div class="content-box order_4">
        <div class="content"> 
            <a class="twitter-timeline"  href="https://twitter.com/CablushApp" data-widget-id="701774592789114880">Tweets by @CablushApp</a>
            <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>
        <div class="clear"></div>
    </div>
  </div>
</div>
