<div class="map">
    <%=image_tag("map.jpg")  %>
</div>

<div class="content-box">
    <div class="wrap">
        <ul class="events">
            <li class="active"><a href="#">A Cablush</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div class="main">
    <div class="wrap">
        <div class="content"> 
            Olá administrador! "Com grandes poderes vêm grandes responsabilidades" by Stan Lee
        </div>
    </div>
    <div class="clear"></div>
</div>
