<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>Cablush | :: Home :: </title>
</head>
<body>

<%=render "layouts/menu" %>

 <div class="map">
 	<%=image_tag("map.jpg")  %>
 	<!-- <div id="map-canvas">
 		
 	</div> -->
 </div>
 <div class="content-box">
 	<div class="wrap">
 		<ul class="events">
			<li class="active"><a href="index.html">A Cablush</a></li>
			
		</ul>
		<div class="content-box-right" style="width:52%">
			<ul class="events">
			<li class="active" ><a href="index.html">Na Web</a></li> 
			</ul>
	</div>
 	   <div class="clear"></div>
 	</div>
 </div>
 <div class="main">
 	<div class="wrap">
			<div class="home"> 
				<p> Cablush é um lugar para se divertir, lugar para buscar aonde fazer exercicio!</p> 
				<br/>
				<p>A idéia é achar onde treinar para ser o seus esporte favorito! <br/></p>
				</div>
			<div class="timeline"> 
	              <a class="twitter-timeline"  href="https://twitter.com/hashtag/cablush" data-widget-id="568492493831143424" data-chrome="nofooter transparent">cablush Tweets</a>
            		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			
 </div>
	<div class="clear"></div>
</div>
<%=render "layouts/footer"%>
</body>
</html>