<div class="map">
    <div id="map-canvas">
      <%= image_tag("map.jpg") %>
    </div>
</div>

<div class="content-box">
    <div class="wrap">
        <ul class="events">
            <li class="active"><a href="index.html">A Cablush</a></li>
        </ul>
        <div class="content-box-right" style="width:52%">
            <ul class="events">
                <li class="active" ><a href="index.html">Na Web</a></li> 
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="main">
    <div class="wrap">
        <div class="content"> 
            <p> Cablush é um site colaborativo, para te ajudar a encontrar lojas, eventos e lugares para praticar o seu esporte favorito.</p> 
            <br/>
            <p>Tem uma loja do coração que vende materias esportivos? Vai participar de algum evento? Sabe aonde praticar seu esporte preferido onde quer que esteja?
            Nos conte e ajude outras pessoas a ficarem por dentro do universo esportivo.</p>

        </div>
        <div class="timeline"> 
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/cablush" data-widget-id="568492493831143424" data-chrome="nofooter transparent">cablush Tweets</a>
            <script>!function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location)?'http':'https'; if (!d.getElementById(id)){js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); }}(document, "script", "twitter-wjs");</script>
        </div>
    </div>
    <div class="clear"></div>
</div>
