<div class="map">
    <div id="map-canvas"></div>
</div>

<div class="content-box">
    <div class="wrap">
        <ul class="events">
            <li class="active"><a href="#">Lojas</a></li> 
        </ul>
        <div class="content-box-left">
          <%= form_for home_lojas_path, html: { id: "form_lojas" } ,remote: true do |f| %>
            <%= render "pesquisa_local", f: f %>
          <% end %>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="main">
    <div class="wrap" id="paginate_itens">
      <%= render "locais.html", locais: @locais %>
    </div>
    <div class="clear"></div>
</div>

<%= will_paginate @locais, :remote => true  %>