<%= render "locais/maps.html", locais: @evento.local %>

<div class="main">
    <div class="wrap row">
        <div class="col_1_of_3 span_1_of_3">
            <%= render "evento.html", evento: @evento, local: @evento.local %>
        </div>
    </div>
    <div class="clear"></div>
</div>
