<ul>
  <% @etapas.each do |etapa| %>
    <li>
      <div class="elem-list">
        <div class="title_list">
          <%= t('views.cadastros.etapa_nome', etapa: etapa.nome) %>
          <label class="tip">
            <%= t('views.cadastros.etapa_tip', provas: etapa.provas.length) %>
          </label>
        </div>
        <div class="games">
          <%= render 'provas', etapa: etapa %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
