<ul>
  <% (1..etapa.max_competidores_prova).each do |i| %>
    <li>
      <div class="elem-list">
        <div class="title_list">
          <p><%= t('views.cadastros.participante_nome', participante: i.to_s) %></p>
          <% unless prova.participantes[i].nil? %>
            <p><%= prova.participantes[i].nome %></p>
          <% end %>
        </div>
      </div>
    </li>
  <%end%>
</ul>
