<ul>
  <% provas.each do |prova| %>
    <li>
      <div class="elem-list">
        <div class="title_list">
          <%= t('views.cadastros.prova_nome', prova: prova.id) %>
          <label class="tip">
            <!-- %= t('views.cadastros.participantes_numero',
                  length: prova.participantes.length) % -->
          </label>
        </div>
        <div class="participants">
          <!-- TODO display participants -->
        </div>
      </div>
    </li>
  <%end%>
</ul>
