<%= render "layouts/content_header" %>

<%= render "header", option: 'List' %>

<div class="main">
    <div class="wrap">
        <ul class="list1 mark_orange">
            <% @pistas.each do |pista| %>
              <li>
                  <%= link_to pista.nome, edit_cadastros_pista_path(pista) %>
              </li>
            <% end %>
        </ul>        
    </div>
    <div class="clear"></div>
</div>