<div class="content-head">
    <div class="wrap">
        <ul class="events">
            <li><%= link_to 'Cadastros', cadastros_path %></li>
            <li class=""><%= link_to 'Pistas', cadastros_pistas_path %></li>
            <li class="active"><a href="#">Nova Pista</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="main">
    <div class="wrap">
        <div class="wrap-content"> 
            <%= render "form" %>
        </div>
    </div>
    <div class="clear"></div>
</div>