<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alteração de sua senha no Cablush. Para continuar a alteração, clique no link a seguir.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você solicitou esta alteração de senha, não se preocupe, basta ignorar este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link e crie uma nova senha.</p>