<%= render "layouts/content_header" %>

<%= render "header", option: 'List' %>

<div class="main">
    <div class="wrap">
        <ul class="list1 mark_green">
            <% @lojas.each do |loja| %>
              <li>
                  <%= link_to loja.nome, edit_cadastros_loja_path(loja) %>
              </li>
            <% end %>
        </ul>        
    </div>
    <div class="clear"></div>
</div>