<%= link_to usuario_omniauth_authorize_path(:facebook), class: 'facebook_signin btn-facebook btn1 btn-primary btn-normal btn-inline' do %>
  <i class="fa fa-facebook fa-2x"></i>
  <span>Entrar com Facebook</span>
<% end %>