<a href="#" class='google_signin btn-google btn1 btn-primary btn-normal btn-inline'>
  <i class="fa fa-google fa-2x"></i>
  <span>Entrar com Google</span>
</a>
<script type="text/javascript">
  $(document).ready(function() {
    Google.loadSDK();
  });
</script>