<%= link_to usuario_google_oauth2_omniauth_authorize_path, class: 'google_signin btn-google btn1 btn-primary btn-normal btn-inline' do %>
  <i class="fa fa-google fa-2x"></i>
  <span><%= t 'button.entrar_google' %></span>
<% end %>
