<!DOCTYPE html>
<html>
<head>
  <title>Cablush</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
	<script data-turbolinks-track="true" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>  
	<!--<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>-->
	<!--<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>-->
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" , "data-turbolinks-track" => true %>
  
  
</head>
<body>

<%= yield %>

<%= csrf_meta_tags %>
  
</body>
</html>
